body{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center; 
    padding: 16px;
}

a{
    color: white;
    text-decoration: none;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid green;
}

.center{
    text-align: center;
}

footer img{
    width: 40px;
    height: 40px;
}

footer{
    display: flex;
    justify-content: center;
}

footer a{
    margin: 20xp;
    text-align: center;
}

footer p{
    margin-top: 2px;
}

h1 {
    color: #194519;
}

.container{
    padding: 0px 50px;
}